<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <!-- Change values for your environment to run tests -->
    <php>
        <var name="DB_DSN" value="mysql:dbname=dryspell;host=localhost" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASS" value="root" />
    </php>
</phpunit>